<div class="history">

  <h3 mat-subheader class="border-bottom">History</h3>
  <mat-list>
    <ng-container *ngFor='let item of stableIdsHistory'>
      <mat-list-item class='hist-item' [class.selected]='item === stableId' (click)='onSelect(item)'>{{item}}</mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>


  </mat-list>

</div>
