.history {
  border: 1px solid var(--color-primary);
  border-radius: 10px;


  padding: 30px;
  height: auto;
  min-height: 300px;

  float: right;
  min-width: 300px;
}

.border-bottom {
  border-bottom: 1px solid var(--color-primary);
}


.hist-item {
  cursor: pointer;
}

.selected {
  background-color: rgb(214, 212, 212);
}

.hist-item:hover {
  background-color: rgb(214, 212, 212);
}
