<div class="sort">
  <label id="radio-group-label">Sort:</label>
  <mat-radio-group aria-labelledby="radio-group-label" class="sort-radio-group" [(ngModel)]="sort" (change)='onChange()'>
    <mat-radio-button class="sort-radio-button" value='desc'>
      Longest to shortest
    </mat-radio-button>
    <mat-radio-button class="sort-radio-button" value='asc'>
      Shortest to longest
    </mat-radio-button>
  </mat-radio-group>

</div>
