.sort {
  margin-top: 20px;
  margin-bottom: 20px;

  border: 1px solid var(--color-primary);
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}

.sort-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

#radio-group-label {
  font-weight: bold;
}

.sort-radio-button {
  margin: 5px;
}
