<mat-form-field style='width: 400px' hintLabel="Stable ID format is 'ENSG' followed by 11 digits">

  <mat-label>Gene Stable ID</mat-label>

  <input matInput type="text" [formControl]='stableIdControl'>

  <button mat-button *ngIf="stableIdControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="stableIdControl.reset()">
    <mat-icon>close</mat-icon>
  </button>

  <mat-error *ngIf="stableIdControl.invalid">{{getErrorMessage()}}</mat-error>

</mat-form-field>


<button mat-raised-button color='primary' style='margin-left: 50px;' [disabled]='stableIdControl.invalid || stableIdControl.pristine'
  (click)='submit()'>Search</button>
