<mat-toolbar color='primary' class='nav'>
  <div>Gene Browser</div>
  <span style='flex: 1 1 auto'></span>
  <span style='font-size: smaller'>Izak Blom</span>
</mat-toolbar>

<div class="main-content">

  <div class="gb-container">

    <gene-browser></gene-browser>
  </div>
</div>
