.gb {
  padding-top: 58px;
  width: 90%;
  margin: auto;

}

.error {
  color: #fff;
  background-color: rgb(145, 16, 16);
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.v-spacer {
  height: 20px;
}

.flex {
  display: flex;
}

.inline {
  flex: 1;
  margin-right: 30px;
}
