<div class="gb">

  <div class="flex">
    <div class="inline">

      <gb-input (newStableId)='fetchGene($event)' (changing)='reset()'></gb-input>

      <div class="v-spacer"></div>

      <div class='error' *ngIf='errMsg'>{{errMsg}}</div>

      <mat-progress-bar mode="indeterminate" *ngIf='loading' style='width: 500px;'></mat-progress-bar>

      <gene-diagram *ngIf='gene' [gene]='gene'></gene-diagram>

    </div>

    <div class="inline">

      <history [stableId]='gene?.stable_id' (selected)='gene = $event;'></history>
    </div>
  </div>


</div>
