<div class="transcript" [style.left]="left + 'px'" [style.width]="(right - left) + 'px'"
  [matTooltip]="transcript.stable_id + ' Length: ' + transcript.seq_region_length + ' Start: ' + transcript.seq_region_start + ' End: ' + transcript.seq_region_end">
  <div class="exons-container">

    <exon-diagram *ngFor='let e of transcript.exons' [exon]='e' [geneWidth]='geneWidth'></exon-diagram>


    <intron-diagram *ngFor='let i of transcript.introns' [intron]='i' [geneWidth]='geneWidth'></intron-diagram>


  </div>
</div>
