.transcript {
  position: relative;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.transcript:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


.exons-container {
  height: 20px;
}
