<sort (newSort)='onSort($event)'></sort>

<div class="sid">{{gene.stable_id}}</div>

<div class="diagram">

  <div class="gene" [style.width]="width + 'px'" [@.disabled]="!animate">

    <div class="transcript-container" *ngFor='let t of gene.transcripts' [@insertRemoveAnimation]='animate'>

      <transcript-diagram [transcript]='t' [geneWidth]='width'></transcript-diagram>
    </div>

  </div>
</div>
