.diagram {
  width: 1100px;
  overflow-x: auto;
  min-height: 500px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  padding: 30px;
}

.gene {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px dashed rgb(112, 111, 111);
  border-right: 1px dashed rgb(112, 111, 111);
}

.sid {
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: bold;
  font-size: larger;
}

.transcript-container {
  margin-bottom: 30px;
}
